"use strict"
exports.ConfigSettings = {
    servers: [
        {
            // The port to listen on for this ListenServer.
            // You can add as many as you want, as long as they
            // are on different ports.
            // If you want to load balance one port among many processes
            // use something like pm2
            listenPort: 7777,

            // The list of servers to load-balance between. When someone uses the listenPort
            // the server will use the routingServer with the lowest player count and route them
            // to it. Domains in the serverIP section are also supported.
            // The name of each routingServer must be unique! Even if they are on a different ListenServer.
            routingServers: [{
                name: "lobby",
                serverIP: "127.0.0.1",
                serverPort: 7780,
                hidden: false,
                isVanilla: false,
            },
            {
                name: "lobby-mirror",
                serverIP: "127.0.0.1",
                serverPort: 7781,
                hidden: false,
                isVanilla: false,
            }]
        },
        // This server listens on another port, and is not load balanced with the others
        // You can switch to it at any time using `/build` or by joining 7778
        // Hidden servers will not pop up in server list but players still can access
        // using the server name as command.
        // Example: `build` will not visible on server list but players can access
        // by typing using `/build`
        {
            listenPort: 7778,
            routingServers: [{
                name: "build",
                serverIP: "127.0.0.1",
                serverPort: 7782,
                hidden: true,
            }]
        },
        // There's also no need to specify a listenPort.
        // A server without a listen port will only be accessible via command-based switching (`/pvp`),
        {
            routingServers: [{
                name: "pvp",
                serverIP: "127.0.0.1",
                serverPort: 7782,
                hidden: false,
                isVanilla: false,
            }]
        }
    ],
    options: {
        /* The number of millseconds of inactivity before a client socket is
         * destroyed */
        socketTimeout: 1000*15,

        // Whether or not to disable Nagle's Algorithm (https://en.wikipedia.org/wiki/Nagle's_algorithm)
        socketNoDelay: true,

        /* You can use this when small patches to Terraria are made
         * that do not break compatibility with the server */
        fakeVersion: {
            enabled: false,
            terrariaVersion: 248
        },

        // Whether or not to enable a "/v2/status"-like http server
        restApi: {
            enabled: false,
            port: 7880,
            /* optional */
            response: {
                /* optional */
                name: "",
                /* optional */
                worldName: "Dimensions Generic",
                /* optional */
                terrariaServerPort: 7777,
                /* optional */
                hasServerPassword: false,
                /* optional */
                maxPlayers: 400,
                /* optional */
                version: "1.4.3.6",
            }
        },

        /* Whether or not to block invisibility buff.
         * This was added here because TShock's version is broken */
        blockInvis: false,

        // Whether or not to use a blacklist (http service) (for blocking vpn, etc)
        blacklist: {
            enabled: false,
            hostname: "127.0.0.1",
            port: 19222,
            apiKey: "",
            path: "/blacklisted",
            errorPolicy: "AllowJoining"
        },

        // Logging options
        log: {
            clientTimeouts: false,
            clientConnect: false,
            clientDisconnect: false,
            clientError: false,
            checkingClientConnect: false,
            checkingClientDisconnect: false,
            checkingClientError: false,
            checkingClientTimeouts: false,
            tServerConnect: false,
            tServerDisconnect: false,
            tServerError: false,
            extensionLoad: true,
            outputToConsole: true,
            outputToFile: true,
            format: {
              console: "PlainText",
              file: "JSON"
            }
        },

        // Whether to limit connections and what the limit is
        connectionLimit: {
            enabled: false,
            connectionLimitPerIP: 1,
            kickReason: "You have exceeded the maximum connection limit of {0}"
        },

        // Whether to limit creation of connections from
        connectionRateLimit: {
            enabled: false,
            connectionRateLimitPerIP: 10 // num of new connections per second per ip
        },

        // Whether to use redis for detached reloading
        redis: {
            enabled: false,
            host: "localhost",
            port: 6379
        },

        nameChanges: {
            // Prevents a server from changing client's name in dimensions
            // modes:
            //  * "legacy" - Behaviour of v5.9.1 and lower
            //               1. Passes through player info packets from client and server even if they have
            //                  a mismatched name.
            //  * "rewrite" - 1. Never updates a client's name dimensions-side after it has been set,
            //                   unless the packet is from the server and it is excluded from this rule.
            //                2. Rewrites packets from the client and the server if they have a name mismatch.
            mode: "legacy",
            // A list of dimension names that are allowed (only the server itself, not client) to update a client's name
            exclusions: [],
        },

        // Controls which language is used for chat/disconnect messages.
        // Options:
        // * english
        // * en
        // * 汉语
        // * zn
        language: "english",


        // Override specific messages from the chosen language
        //
        // Fields:
        // nameAlreadyOnServer
        // characterNameLengthOutOfRange
        // areYouEvenConnected
        // youAreAlreadyInthatDimension
        // shiftingToDimension
        // youNeedToWaitUntilConnected
        // playerCount
        // availableDimensions
        // youEnteredTheVoid
        // dimensionDisconnectedYou
        // reason
        // dimensionsCommandName
        // specifyADimensionToTravel
        // dimensionDropped
        //
        // e.g:
        // languageOverrides: {
        //   playerCount: "We currently have ${total} players on our server."
        // }
        languageOverrides: {},

        // When specified, allows you to override the default settings for debuffing when switching dimensions.
        //
        // Examples:
        // debuffOnSwitch: {
        //   enabled: false
        // }
        //
        // debuffOnSwitch: {
        //   enabled: true,
        //   debuffTimeInSeconds: 5
        // }

        // debuffOnSwitch: {
        //   enabled: true,
        //   buffTypes: [156],
        //   debuffTimeInSeconds: 5
        // }
        debuffOnSwitch: {
          enabled: true,
        },

        // Decides what happens when a terraria server kicks a client
        //
        // Examples:
        //
        // disconnectOnKick: {
        //   type: "always",
        // }
        //
        // disconnectOnKick  {
        //  type: "onKickReasonPrefix",
        //  kickReasonPrefixes: ["Kicked: !disconnect"],
        // }
        disconnectOnKick: {
          type: "never",
        }
    }
};
